
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button {
    background: #FF0000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 500ms ease;
    border:  3px solid #FF0000;
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size: 16px;
    width: 200px; 
    height: 50px;
}

button:hover {
    background-color: hsl(0, 100%, 75%);
    border: 3px solid hsl(0, 100%, 75%);
}


button:active {
    background-color: hsl(0, 100%, 75%);
    border: 3px solid #FDA29B;
}
