
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button {
    background: #FF0000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 500ms ease;
    border:  3px solid #FF0000;
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size: 16px;
    width: 200px; 
    height: 50px;
}

button:hover {
    background-color: hsl(0, 100%, 75%);
    border: 3px solid hsl(0, 100%, 75%);
}

button:active {
    background-color: hsl(0, 100%, 75%);
    border: 3px solid #FDA29B;
}

button.black {
    background: #000;
    border:  3px solid #000;
}
button.black:hover {
    background-color: #403F3F;
    border: 3px solid #403F3F;
}
button.black:active {
    background-color: #403F3F;
    border: 3px solid #696770;
}

h1, h2 {
    font-size: 40px; /* Устанавливает размер шрифта 40 пикселей */
    font-weight: 600; /* Устанавливает жирное начертание */
    line-height: 50px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 4px;
}
p {
    padding-bottom: 30px;
    font-size: 30px;
}

.page-container {
    max-width: 1140px;
    margin: 0 auto;
}
.g {
    color: #696770;
}





.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; 
}

.modal-content {
    max-width: 800px;
    max-height: 90vh; /* Установите максимальную высоту в 90% от высоты окна */
    background-color: #fff; 
    border-radius: 8px;
    padding: 50px; /* Уменьшите отступы для лучшей адаптивности */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    overflow-y: auto; /* Позволяет прокручивать содержимое, если оно превышает высоту */
}
@media only screen and (max-width: 600px) {
    .modal-content {
        padding: 30px;
    }
}

.close {
    width: 32px;
    height: 32px;
    cursor: pointer;
    float: right;
    background-image: url("@/assets/images/black_logos/close.svg");
    background-size: contain;
}

.subheader {
    font-size: 16px;
}
.line {
    border-top: 1px solid #B0B0B0;
    width: 100%;
    margin: 30px 0;
}

@media only screen and (max-width: 600px) {
    .boiler-image {
        display: none;
    }
}

.information-container {
    display: flex;
    gap: 38px;
    justify-content: space-between;
    align-items: center; /* Выравнивание по центру по вертикали */
    padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
    .information-container {
        flex-direction: column;
    }
}

.modal-boiler-info {
    line-height: 24px;
    font-size: 18px;
}

@media only screen and (max-width: 800px) {
    .modal-boiler-info {
        width: 100%;
    }
}
.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media only screen and (max-width: 600px) {
    .form-container {
        align-items: center;
        text-align: center;
    }
}

input {
    background-color: #EAEAEA;
    border: none;
    padding: 18px 22px;
    box-sizing: border-box;
    font-size: 18px;
    border-radius: 8px;
    line-height: 20px;
    width: 100%;
}

input:focus {
    outline: none;
}
input::placeholder {
    color: #8D8D8D;
}
.politics {
    font-size: 14px;
}
.politics a {
    color: #000;
}

