
*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

button {
    background: #FF0000;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 500ms ease;
    border:  3px solid #FF0000;
    font-family: 'Lato', sans-serif; 
    font-weight: bold; 
    font-size: 16px;
    width: 200px; 
    height: 50px;
}

button:hover {
    background-color: hsl(0, 100%, 75%);
    border: 3px solid hsl(0, 100%, 75%);
}


button:active {
    background-color: hsl(0, 100%, 75%);
    border: 3px solid #FDA29B;
}
h1, h2 {
    font-size: 40px; /* Устанавливает размер шрифта 40 пикселей */
    font-weight: 600; /* Устанавливает жирное начертание */
    line-height: 50px;
    margin-bottom: 30px;
}

h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 22px;
    font-weight: 500;
}
p {
    padding-bottom: 30px;
    font-size: 30px;
}

.page-container {
    max-width: 1140px;
    margin: 0 auto;
}
.g {
    color: #696770;
}